COMPOSE_PROJECT_NAME=lumdocker
NETWORK_DRIVER=bridge

CONTAINER_WWW_ROOT=/wwwroot/
# nginx config
NGINX_VERSION=1.15.1
WEB_PORT=8686
STATIC_WWW_ROOT=./www/
WWW_ROOT=../xtx1v1-server/
SERVER_WWW_ROOT=../server/
NGINX_VHOSTS_PATH=./nginx/vhosts/
NGINX_CONFIG_PATH=./nginx/conf/
NGINX_CONFIG=./nginx/nginx.conf
NGINX_LOG_PATH=./nlogs/

### php-fpm config
PHP_FPM_VERSION=7.2
PHP_FPM_CONFIG=./php-fpm/
PHP_FPM_CONTAINER_NAME=php-fpm
PHP_FPM_CONTAINER_PORT=9000

### redis config
REDIS_VERSION=4.0
REDIS_PATH=./redis/